@charset "utf-8";

/* 共通部分 */
html {
    font-size: 100%;
}
body {
    font-family: 'Noto Serif JP', serif;
    line-height: 1.8;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
* {
    box-sizing: border-box;
}
.separate-img {
    margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
    width: 100vw;
}
.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}
.section-title {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    padding-top: 160px;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
}
.subtitle {
    margin-bottom: 80px;
    font-size: 18px;
}
.en {
    font-family: 'Lato', sans-serif;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 16px;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 8px 16px;
}
/* メインビジュアル */
#fv {
    display: flex;
}
#fv-text {
    min-width: 500px;
    padding-left: 15%;
    padding-top: 156px;
}
#fv-text > h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 2.5;
}
#fv-img {
    width: 70%;
}
#fv-img img {
    width: 100%;
    height: 689px;
    object-fit: cover;
}
#item-btn {
    border: 1px solid #B9A8A2;
    width: 360px;
    height: 55px;
    position: absolute;
    text-align: center;
    background-color: #B9A8A2;
    display: table;
    margin-top: 96px;
}
#item-btn a {
    display: table-cell;
    color: white;
    height: 40px;
    vertical-align: middle;
}

/* feature */
.section-title, .subtitle {
    text-align: center;
}
#main-feature {
    display: flex;
    margin-bottom: 72px;
}
#feature-text {
    padding: 116px 30px 0px 30px;
}
#sub-features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.each-feature {
    width: 30vw;
}
.each-feature:not(:first-child) {
    margin-left: 30px;
}
.each-feature img {
    width: 100%;
}
.en-name {
    color: #BAA8A2;
}
/* h3 {
    font-size: 18px;
}
p {
    font-size: 14px;
} */
/* h3、pは上部の共通部分で正しいfont-sizeを設定していました */

/* line-up */
#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.product {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    padding-bottom: 80px;
}
.product h3 {
    margin: 8px 0;
}
.product-btn {
    position: absolute;
    top: 608px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #B9A8A2;
    background-color: #B9A8A2;
    color: white;
    max-width: 324px;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn04 {
    vertical-align: bottom;
}
/* instagram */
#instagram-posts {
    display: flex;
    justify-content: center;
}
.instagram-photo {
    margin-left: 10px;
    margin-right: 10px;
}
#instagram-btn {
    text-align: center;
    margin: 30px auto;
    width: 30%;
    height: 50px;
    border: 1px solid #B9A8A2;
    background-color: #B9A8A2;
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#instagram {
    margin-bottom: 100px;
}

/* フッター */
footer {
    background-color: #B9A8A2;
}
ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 20px;
}
footer a {
    color: white;
}
li:not(:first-child) {
    margin-left: 15px;
}
#copyright {
    color: white;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid white;
}

/* productページ */
.product-introduction {
    display: flex;
    max-width: 1080px;
    margin: 160px auto;
}
#product-intro-text {
    padding-top: 80px;
    padding-left: 50px;
    width: 50%;
    margin: 0 auto;
}
#product-intro-text > h3 {
    margin-bottom: 24px;
}
#product-intro-text > p {
    margin-bottom: 24px;
}
#purchase-btn {
    border: 1px solid #B9A8A2;
    background-color: #B9A8A2;
    color: white;
    width: 40%;
    height: 10%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#related-products {
    display: flex;
    justify-content: space-between;
    padding-bottom: 160px;
}
.product-box {
    width: 30%;
    margin: 10px;
    position: relative;
    padding-bottom: 40px;
    text-align: center;
}
#product-detail {
    background-color: rgba(186, 168, 162, 0.15);
}
.product-box .product-btn {
    top: 493px;
}

/* 404ページ */
#error-content {
    text-align: center;
    margin-bottom: 160px;
}
#return-btn {
    border: 1px solid #B9A8A2;
    background-color: #B9A8A2;
    color: white;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    /* メインビジュアル */
    #fv {
        flex-direction: column-reverse;
    }
    #fv-text > h1 {
        font-size: 24px;
    }
    #fv-img {
        width: 100%;
    }
    #fv-img img {
        height: 200px;
        object-fit: cover;
    }
    #fv-text {
        padding-top: 0;
        min-width: auto;
        padding-left: 24px;
    }
    #item-btn {
        width: 260px;
        margin-top: 24px;
    }
    #item-btn a {
        height: 60px;
    }

    /* feature */ 
    .wrapper {
        margin: 0 24px;
    }
    .section-title {
        font-size: 20px;
        padding-top: 96px;
    }
    .subtitle {
        font-size: 14px;
    }
    #feature {
        margin-top: 180px;
    }
    #feature-text {
        padding: 0px;
    }
    #main-feature {
        flex-direction: column;
        width: 100%;
    }
    #main-feature-img img {
        width: 100%;
    }
    #sub-features {
        flex-direction: column;
    }
    .each-feature {
        width: 100%;
    }
    .each-feature img {
        width: 100%;
    }
    .each-feature:not(:first-child) {
        margin-left: initial;
    }
    .body-text {
        margin-bottom: 48px;
    }

    /* line-up */
    #container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .product {
        margin-bottom: 0;
    }
    .product img {
        width: 100%;
    }
    .product > p {
        padding-bottom: 24px;
    }
    .product-btn {
        height: 60px;
        max-width: 260px;
        width: 100%;
        position: static;
    }

    /* instagram */
    #instagram-posts img {
        width: 100%;
    }
    #instagram-btn {
        width: 60%;
        height: 60px;      
    }

    /* footer */
    footer {
        text-align: center;
    }
    footer ul {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    footer ul li {
        width: fit-content;
    }
    li:not(:first-child) {
        margin-left: initial;
    }
    #spacer {
        width: 100%;
    }

    /* productページ */
    .product-introduction {
        flex-direction: column;
        margin: 0 24px;
    }
    .product-introduction img {
        width: 100%;
        margin-top: 96px;

    }
    #product-intro-text {
        width: 100%;
        padding: initial;
        margin-bottom: 96px;
    }
    #related-products {
        flex-direction: column;
        padding-bottom: 96px;
    }
    .product-box {
        width: 100%;
        margin: 0 0 48px 0;
        padding-bottom: 0px;
    }
    .product-box img {
        width: 100%;
    }
    .product-box > p {
        padding-bottom: 16px;
    }
    #purchase-btn {
        height: 60px;
        max-width: 260px;
        width: 100%;
    }

    /* 404ページ */
    #error-content {
        margin: 0px 22px 96px 22px;
    }
    #new_line {
        display: none;
    }
}